.profesonal-law {
    padding-top: 200px;
    padding-bottom: 100px;
    .btn {
        align-items: center;
        display: block;
        padding-bottom: 160px;
        a {
            text-decoration: none;
            text-transform: capitalize;
            font-size: 16px;
            color: #B69D74;
            border: 1px solid #B69D74;
            padding: 10px 15px;
            border-radius: 4px;
            &:hover {
                background-color: #B69D74;
                color: #fff;
                transform: 0.5s;
            }
            img {
                margin-left: 7px;
            }
        }
    }
    .title {
        color: #B69D74;
        h4 { 
            font-size: 16px;
            color: #B69D74;
            line-height: 100%;
            font-weight: 500;
            font-family: 'Crimson pro';
            border-bottom: 2px solid #B69D74;
            margin-right: 505px;
            img {
                color: #B69D74;
            }
        }
    }
    h2 {
        color: #033A5B;
        font-size: 48px;
        padding: 10px 0;
    }
    p {
        padding-bottom: 20px;
    }
    .icon-area {
        display: flex;
        .icon1 {
            img {

            }
        }
        .icon-content {
            margin-left: 20px;
            h5 {

            }
            p {

            }
        }
    }
}