.services-area {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    .service-title {
        text-align: center;
        .title {
            h4 {
                font-size: 16px;
                line-height: 100%;
                font-weight: 500;
                font-family: 'Crimson pro';
                color: #fff;
                border-bottom: 2px solid #B69D74;
                margin-left: 608px;
                margin-right: 578px;
    
                img {
                    margin-right: 6px;
                }
            }
        }
        h2 {
            width: 668px;
            font-size: 48px;
            line-height: 60px;
            font-weight: 600;
            font-family: 'Crimson Pro';
            margin: 0 auto;
            color: white;
        }
    }
    .family-law {
        background-color: #fff;
        width: 312px;
        height: auto;
        background-size: cover;
        border-radius: 4px;

        .quis {
            margin-top: 90px;
            padding-top: 30px;
            margin-left: 10px;
            h4 {
                font-size: 24px;
                font-weight: 700;
                line-height: 36px;
                font-family: 'Crimson Text';
            }
            p {
                font-size: 19px;
                line-height: 27px;
                font-weight: 400;
                font-family: 'DM sans';
                color: #666666;
            }
            .icon {
                a {
                    font-size: 15px;
                    line-height: 100%;
                    font-weight: 500;
                    font-family: 'Dm Sans';
                    color: #666666;
                }
                img {
                    margin-left: 5px;
                    overflow: hidden;
                    color: #666666;
                }
            }
        }
        img {

        }
    }
}
